/* /////////////////////////////////////////
//////////// styles du jeu /////////////
///////////////////////////////////////////*/

#wtf_jeu {
  margin: auto;

  width: 1280px;

  height: 720px;

  border: 2px black solid;

  overflow: hidden;

  position: relative;

}


/* ///////////////////////////////////////////
//////////// styles de la ligne info /////////////
///////////////////////////////////////////*/
.info {
  background-color: black;
  color: white
}

/* ///////////////////////////////////////////
//////////// styles du décor /////////////
///////////////////////////////////////////*/
.fond {

  margin-bottom: -5px;

  z-index: 10;

  position: relative;

}

/* ///////////////////////////////////////////////////////////////
//////////// styles de la voiture bleue //////////////////////////
////////////////////////////////////////////////////////////////*/
#vb {

  z-index: 100;

  position: absolute;

  width:300px;

  height: auto;

  top: 450px;

  left: 20px;

}