#jeu{

    width: 1280px;

    height: 720px;

    border: 2px black solid;

    overflow: hidden;

    position: relative;

  }

  .fond{

    margin-bottom:-5px; 

    z-index: 10;

    position: relative;

  }

  #vr{

    z-index: 100; 

    position: absolute; 

    top: 400px; 

    left: 48px;

  }
